{% extends 'blog/base.html' %}
{% block title %}search{% endblock %}

{% block content %}
{% if tag %}
        <h2>Posts contain "{{ search }}"</h2>
{% endif %}
{% if posts %}
<p>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        {% if post.tag.all %}
            <p>Tags: {{ post.tag.all|join:", " }}</p>
        {% endif %}
        <p>{{ post.content|truncatewords:30 }}</p>
        <p><em>By {{ post.author.username }} on {{ post.published_date }}</em></p>
        <a href="{% url 'post_detail' post.id %}">Read more</a>
    {% endfor %}
</p>
{% else %}
    <p>No posts found</p>
{% endif %}

{% endblock %}